.idea/
client_secret.json
__pycache__/
.env
*.log
.ipynb_checkpoints/

# matrix numpy objects too large to push to github
*_matrix.npz

# powerpoint tmp files
~$*

.DS_Store

# JS Files
/node_modules/
/assets/bundles/*
webpack-stats.json
