[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
selenium = "*"
retry = "*"
django = "*"
gdata = "*"
"oauth2client" = "*"
gspread = "*"
pymysql = "*"
slackclient = "*"
django-dotenv = "*"
uwsgi = "*"
mysqlclient = "*"
slackweb = "*"
django-extensions = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
django-pandas = "*"
"mecab-python3" = "*"
gensim = "*"
nltk = "*"
dask = "*"
toolz = "*"
cloudpickle = "*"
pyyaml = "*"
djangorestframework = "*"
python-memcached = "*"
django-silk = "*"
flickrapi = "*"
django-cors-headers = "*"
django-filter = "*"
"fabric3" = "*"
elasticsearch-dsl = ">=5.0,<6.0"
djongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
